---
layout: layouts/base.njk
title: "Pokemon Fetch Page"
description: "This is where the pokemon will populate"
---

{% for pokemon in pokemon.results %}
    <div class="pokeCard">
        <a class="" href="{{ "/pokemon/" + pokemon.name }}">{{pokemon.name}}</a>
    </div>
{% endfor %}