---
pagination:
    data: pokemon.results
    size: 1
    alias: pokemon
permalink: "pokemon/{{pokemon.name | slug}}/"
layout: layouts/base.njk
---
<a href="/pokepage">Back to the pokeDump page</a>
<li id="pokeName">{{pokemon.name}}</li>
 <div class="pokeContainer">
            
 </div>

